/*15-04-2023
Animación Cuervo JAVASCRIPT
Jeyfrey Calero*/


body{
    background:linear-gradient(to bottom, yellow, blue, red);
    width: 100vw ;
    height: 100vh;
    overflow: hidden;
}
canvas{
    position: absolute;
    top: 0;
    left:0;
    width: 100%;
    height: 100%;   

}